<div class="main">
  <div class="header">
    <h2 class="heading">Cloud</h2>
    <input class="search" placeholder="search" />
    <div class="header-icons">
      <button class="sicon">
        <mat-icon>edit</mat-icon>
      </button>
      <button class="sicon">
        <mat-icon>notifications</mat-icon>
      </button>
      <button class="sicon">
        <mat-icon>person</mat-icon>
      </button>
    </div>
  </div>
  <div class="body">
    <div class="sidebar">
      <button class="sicon">
        <mat-icon>menu</mat-icon>
      </button>
      <button class="sicon">
        <mat-icon>home</mat-icon>
      </button>
      <button class="sicon">
        <mat-icon>cloud</mat-icon>
      </button>
      <button class="sicon">
        <mat-icon>storage</mat-icon>
      </button>
      <button class="sicon">
        <mat-icon>restart_alt</mat-icon>
      </button>
      <button class="sicon">
        <mat-icon>add</mat-icon>
      </button>
    </div>
     <div class="contents">
      <!--<div class="row-1">
        <div class="card-1">
          <h3 class="title">AI</h3>
          <p class="content">AI </p>
          <button class="get-start">Get Started</button>
        </div>
        <div class="card-2">
          <h3 class="title">AI</h3>
          <p class="content">AI</p>
          <button class="get-start">Get Started</button>
        </div>
        <div class="card-3">
          <h3 class="title">AI</h3>
          <p class="content">AI</p>
          <button class="get-start">Get Started</button>
        </div>
      </div>
      <div class="row-2">
        <div class="card-1">
          <h3 class="title">AI</h3>
          <p class="content">AI</p>
          <button class="get-start">Get Started</button>
        </div>
        <div class="card-2">
          <h3 class="title">AI</h3>
          <p class="content">AI</p>
          <button class="get-start">Get Started</button>
        </div>
      </div>
      <div class="row-3">
        <div class="card-1">
          <h3 class="title">AI</h3>
          <p class="content">AI</p>
          <button class="get-start">Get Started</button>
        </div>
        <div class="card-2">
          <h3 class="title">AI</h3>
          <p class="content">AI</p>
          <button class="get-start">Get Started</button>
        </div>
      </div> -->
      <app-template-select></app-template-select>
    </div>
  </div>
</div>
