<div class="chat-container">
  <div class="chat-header">
    <h2 style="text-align: left;">Chat with AI</h2>
    <button class="btn t" (click)="goback()">Back</button>
    <button class="btn t" (click)="reset()">Reset</button>
  </div>
  <div class="chat-messages">
    <div class="message-container" *ngFor="let message of messages">
      <div class="message {{message.sender === 'You' ? 'user-message' : 'bot-message'}}">
        <span class="sender">{{ message.sender }}</span><br>
        <pre>{{ message.text }}</pre>
      </div>
    </div>
    <div *ngIf="isLoading" class="loading-container">
      <div class="loading-spinner"></div>
    </div>
  </div>
  <div class="chat-footer">
    <label for="question-input"><strong>Question :</strong></label>
    <input type="text" id="question-input" [(ngModel)]="question" placeholder="Type your question here..." (keyup.enter)="sendQuestion()">
    <button class="btn btn-primary" (click)="sendQuestion()">Send</button>
  </div>
</div>
