.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;

  .mobile-outline {
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-image: url('../../../assets/mobile-preview-wrap.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    left: 10px;

    .cur-time{
      position: absolute;
      color: black;
      top: 35px;
      left: 35px;
      font-size: 10px;
      background-color: #ffff;
      font-weight: 600;
      border-radius: 10px;
      padding: 5px;
    }

    .sender {
      position: absolute;
      color: black;
      top: 70px;
      left: 102px;
      font-size: 10px;
      background-color: #ffff;
      mat-icon{
        font-size: 10px;
        height: 9px;
        width: 14px;
      }
    }

    .wa-chat-back {
      width: 240px;
      overflow: hidden;
      background-image:
        linear-gradient(rgba(255, 255, 255, 0.301), rgba(0, 0, 0, 0.4)),
        url(../../../assets/whatsapp_back.jpg);
      background-size: cover;
      background-position: center;
      position: relative;
      right: 12px;
      opacity: 1;

      .wa-chat-bubble {
        z-index: 1;
        margin: 10px;
        min-height: 360px;
        max-height: 360px;
        overflow: auto;

        &::-webkit-scrollbar {
          display: NONE;
        }

        .normal-section {
          background-color: rgb(255, 255, 255);
          padding: 5px;

          .sendTime{
            font-size: 7px;
            color: #6c757d;
            text-align: right;
          }

        }

        .wa-header {
          margin-bottom: 6px;

          &.header-text {
            font-weight: 800;
            color: #000000;
            font-size: 12px;
            word-break: break-word;
          }

          .media-header {
            width: 100%;
            border-radius: 6px;
            max-height: 120px;
            object-fit: cover;
          }
        }

        .wa-body {
          white-space: pre-line;
          font-size: 10px;
          margin-bottom: 6px;
          word-break: break-word;

          &::-webkit-scrollbar {
            width: 3px;
          }

          &::-webkit-scrollbar-thumb {
            background-color: #ccc;
            border-radius: 2px;
          }
        }

        .wa-footer {
          font-size: 8px;
          color: #6c757d;
          margin-bottom: 5px;
        }

        .wa-buttons {
          display: flex;
          flex-direction: column;

        }
      }
    }

    .wa-carousel-section {
      margin-top: 10px;
      position: relative;
      max-width: 360px;
      background: #fff;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

      .nav {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
        border: none;
        font-size: 20px;
        color: #000;
        cursor: pointer;
        padding: 0;
        width: 24px;
        z-index: 10;
        opacity: 0.4;

        &:hover {
          opacity: 0.7;
        }

        &:disabled {
          opacity: 0;
          cursor: not-allowed;
        }

        &.left {
          top: 85px;
        }

        &.right {
          right: 2px;
          top: 86px;
        }
      }

      .carousel-track-wrapper {
        overflow: hidden;
        width: 100%;
      }

      .carousel-track {
        display: flex;
        width: 100%;

        .carousel-card {
          min-width: 100%;
          padding: 20px 20px 10px 20px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          max-height: 250px;

          .carousel-media {
            width: 100%;
            margin-bottom: 8px;

            img {
              width: 180px;
              max-height: 120px;
              border-radius: 6px;
              object-fit: cover;
            }
          }

          .carousel-buttons {
            display: flex;
            flex-direction: column;
            width: 180px;
          }
        }
      }
    }
  }



  .lto-type-content{
    max-width: 300px;
    margin-top: 5px;

    .notify{
      margin-left: 3px;
      color: rgba(156, 163, 175, 1);
      font-size: 10px;
    }
    .content {
      background-color: rgba(248, 233, 213, 1);
      padding: 10px;
      border-radius: 10px;
      .warn {
        color: rgba(220, 145, 46, 1);
        padding: 4px;
        font-size: 14px;
        position: relative;
        top: 8px;
      }
      h5{
        font-size: 12px;
        margin-bottom: 5px;
        color: rgba(107, 114, 128, 1);
      }
      p{
        font-size: 10px;
        color: rgba(128, 129, 145, 1);
      }
    }
  }

  .type-content {
    background-color: rgba(17, 24, 39, 1);
    max-width: 300px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;

    h5 {
      font-size: 12px;
      color: rgba(67, 144, 99, 1);
      margin-bottom: 5px;
    }

    .noti {
      font-size: 6px;
      color: rgba(156, 163, 175, 1);
    }

    p{
      font-size: 10px;
      color: #ffff;
    }

  }

  .head {
    color: rgba(107, 114, 128, 1);
    text-align: center;
    font-size: 50px;
  }
}


//COMMON STYLES

button {
  font-size: 10px;
  border: none;
  padding: 4px;
  cursor: pointer;
  color: rgba(107, 114, 128, 1);
  background-color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  &:hover {
  opacity: 0.9;
  }

  mat-icon{
    font-size: 13px;
    height: 11px;
    color: rgba(107, 114, 128, 1);
    width: 12px;
  }

  &:first-child {
    border-top: 1px solid rgba(107, 114, 128, 0.534);
  }
}

.pdf-content{
  width: 180px;
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 20px;
  padding: 5px;
  background-color: rgba(128, 128, 128, 0.425);
  border-radius: 5PX;

  .pdf-icon{
    color: RED;
  }
  .pdf-filename{
    color: #fff;
  }
}
