.home-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.hero {
  text-align: center;
  padding: 60px 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  margin-bottom: 40px;
}

.hero h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #343a40;
}

.hero p {
  font-size: 1.2rem;
  color: #6c757d;
  max-width: 600px;
  margin: 0 auto 30px;
}

.cta-buttons {
  margin-top: 20px;
}

.features {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.feature {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  min-width: 200px;
  max-height: 200px;
  min-height: 200px;
}

.feature:hover {
  transform: translateY(-5px);
}

.feature h3 {
  margin-bottom: 15px;
  color: #343a40;
}

.feature p {
  color: #6c757d;
}


.upload-stepper{
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
}


::ng-deep {
  .mat-icon {
      height: 40px !important;
      width: 40px !important;
  }
    .material-icons{
      font-size: 40px !important;
    }
  }
