

.header-container{

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px;

  .header-btn-container{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 8px;

  }

  .header-actions-container{

    .header-text{
      padding: 8px;
      
    }

  }
}
