

<div class="navbar-custom">
    <div class="menubar">
        <button>Menu</button>
    </div>
    <div class="right-one">
        <div class="doc"></div><button>Documentation</button> 
        <div class="Setting"></div><button>Setting</button>
    </div>
    <div class="right-two">
        <div class="sent"></div><button>Send Champaign</button>
        <div class="Setwiz"></div><button>Set-Wizard</button>
    </div>
    <div class="balance">
        <button>Wallet</button>
    </div>
    <div class="right-three">
        <div class="notify"></div><button>Noification</button>
        <div class="lang"></div><button>Language</button>
    </div>
    <div class="user-Profile">
        <button>Profile</button>
    </div>  
</div>