.main-container {
  font-size: 14px;
  display: flex;
  justify-content: space-around;


  .left-container {
    height: 100%;
    width: 970px;
    display: flex;
    flex-direction: column;

    form {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .template-detail {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 20px;


      ::ng-deep {
        .mat-mdc-form-field-subscript-wrapper{
          display: none;
        }
        .mat-mdc-select-arrow-wrapper{
          display: none;
        }
        .mat-mdc-text-field-wrapper:hover{
          background-color: #ffffff !important;
        }
        .mat-mdc-text-field-wrapper:hover .mat-mdc-form-field-focus-overlay{
          opacity: 0 !important;
        }
        .mat-mdc-form-field-infix{
          padding-bottom: 0 !important;
          padding-top: 10px !important;
          min-height:  45px !important;
        }
        .mat-mdc-select-arrow svg{
          display: none !important;
        }
        .mat-mdc-text-field-wrapper{
          background-color: white;
          border: 1px solid rgba(229, 231, 235, 1);
          border-radius: 5px;
        }
        .mat-select-panel {
          background-color: white !important;
        }
        .mdc-line-ripple{
          display: none !important;
        }
        .mdc-floating-label--float-above{
          display: none;
        }
        .mat-mdc-select-trigger{
          margin-top: 2px !important;
        }
        .mdc-floating-label{
          top: 23px !important;
        }
        .mat-mdc-select-panel {
          background-color: red !important;
        }
        .mat-mdc-form-field.mat-focused .mat-mdc-form-field-focus-overlay:hover {
          opacity: unset !important;
        }
        .mat-mdc-select-value{
          width: 90%;
        }
      }

      .template {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;

          ::ng-deep &.lang{
            .mat-mdc-select{
              display: none;
            }
          }

        .warn {
          padding: 5px;
          color: rgb(255, 0, 0);
        }

        input {
          &::placeholder {
            color: rgba(156, 163, 175, 1);
            opacity: 0.6;
          }
        }
      }

      .char-count {
        font-size: 14px;
        color: #666;
        margin-left: 8px;
      }
    }

  }

  .submit-error {
    color: rgb(255, 0, 0);
  }


  .btn-continue {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    margin-top: 50px;

    .btn {
      padding: 10px 20px;
      border-radius: 10px;
      font-weight: 600;
      color: white;
      background-color: rgba(20, 39, 78, 1);
    }
    &:disabled {
      cursor: not-allowed;
    }
  }
  .right-container {
    margin-top: 100px;
    margin-bottom: 10px;
    background-color: rgba(249, 250, 251, 1);
    width: 347px;
    border: 1px solid gray;
    border-radius: 10px;
  }
}



@media (max-width: 900px) {
  .main-container {
    flex-direction: column;
    align-items: center;
    height: 200vh;

    .left-container,
    .right-container {
      width: 90%;
    }

    .right-container {
      margin-top: 20px;
      max-width: 347px;
      min-height: 1000px;
    }
  }
}

//panel class
::ng-deep .select-panel {
  background-color: white !important;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-top: 10px;

  .mat-mdc-option {
    flex-wrap: wrap;
    opacity: 0.7;
    padding: 10px;
    font-size: 14px;
    color: rgba(31, 41, 55, 1);


    // &.mdc-list-item--selected {
    //   background-color: rgba(177, 183, 196, 1) !important;
    //   opacity: 1;
    // }
  }



  .mat-mdc-option:focus.mdc-list-item, .mat-mdc-option.mat-mdc-option-active.mdc-list-item{
    background-color: unset;
    outline: unset;
  }

  //for tick symbol
  // .mat-pseudo-checkbox{
  //   display: none;
  // }

}



.select-with-arrow {
  position: relative;

  .mat-form-field-wrapper {
    padding-right: 30px !important;
  }

  .custom-arrow {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 16px;
    font-family: monospace, 'Courier New', Courier;
    line-height: 1;
    color: rgba(156, 163, 175, 1);
  }
}

.search-input-wrapper {
  position: relative;
  width: 100%;
  background-color: #f5f6f8;
  border-radius: 12px;
  padding: 8px 12px;
  display: flex;
  align-items: center;

  .search-icon {
    font-size: 20px;
    color: rgba(156, 163, 175, 1);
    margin-right: 8px;
  }

  .search-box {
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
    color: #1c1c1e;

    &::placeholder {
      color: rgba(156, 163, 175, 1);
      opacity: 0.6;
    }
  }
}

