.fp-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 500px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 200px;
    border: 2px solid black;

    .fp-title{
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;

        .info{
            color: lightcoral;
        }
    }


    .fp-mail input{
        padding: 10px;
        width: 400px;
        height: 50px;
        font-size: large;
        border: 1px solid black;
        border-radius: 10px;

        .fp-mail input::placeholder {
            color: #000000;         
            font-size: medium;    
            opacity: 0.3;
            text-align: center;  
        }
    }

    .fp-btn {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 10px;
        border-radius: 10px;

        .open, .close{
            padding: 10px;
        }
    }


}

mat-dialog-content{
    background-color:rgba(252, 217, 175, 0.493);;
}

