<div class="forget-password">
    <mat-dialog-content>
        <div class="fp-container">
            <div class="fp-title">
                <mat-icon class="info" color="primary">mail</mat-icon>
                <h2>Reset Password</h2>
            </div>
            <div class="fp-mail">
                <input
                    type="email"
                    #email
                    placeholder="Enter your email"
                    required />
            </div>
            <div class="fp-btn">
                <button mat-button (click)="closeDialog()" class="close">Close</button>
                <button mat-button (click)="send(email.value)" class="open">Send Mail</button>
            </div>
        </div>
    </mat-dialog-content>
</div>
